<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" name="text">{% csrf_token %}

        <input name="text">
        <button type="submit">ok</button>
    </form>

	{%for el in userInfoList%}
    <a href="/tw/{{el.screen_name}}"><p>Name: {{el.screen_name}}, description: {{el.description}}, followers:{{el.followers_count}}, friends:{{el.friends_count}}</p></a>
    {%endfor%}
</body>
</html>